[submodule "giulius-web-modules/giulius-web-parent"]
	path = giulius-web-modules/giulius-web-parent
	url = https://github.com/timboudreau/giulius-web.git
[submodule "giulius-modules/giulius-parent"]
	path = giulius-modules/giulius-parent
	url = https://github.com/timboudreau/giulius.git
[submodule "scopes-modules/scopes-parent"]
	path = scopes-modules/scopes-parent
	url = https://github.com/timboudreau/scopes.git
[submodule "util"]
	path = util
	url = https://github.com/timboudreau/util
[submodule "acteur-modules/acteur-parent"]
	path = acteur-modules/acteur-parent
	url = https://github.com/timboudreau/acteur.git
[submodule "giulius-tests-modules/giulius-tests-parent"]
	path = giulius-tests-modules/giulius-tests-parent
	url = https://github.com/timboudreau/giulius-tests.git
[submodule "giulius-selenium-tests-modules/giulius-selenium-tests-parent"]
	path = giulius-selenium-tests-modules/giulius-selenium-tests-parent
	url = https://github.com/timboudreau/giulius-selenium-tests.git
[submodule "acteur-timetracker"]
	path = acteur-timetracker
	url = https://github.com/timboudreau/acteur-timetracker.git
[submodule "netty-http-client"]
	path = netty-http-client
	url = https://github.com/timboudreau/netty-http-client.git
[submodule "acteur-tutorial"]
	path = acteur-tutorial
	url = https://github.com/timboudreau/acteur-tutorial.git
[submodule "acteur-auth"]
	path = acteur-auth
	url = https://github.com/timboudreau/acteur-auth.git
[submodule "generic-web-api"]
	path = generic-web-api
	url = https://github.com/timboudreau/generic-web-api.git
[submodule "blurt"]
	path = blurt
	url = https://github.com/timboudreau/blurt.git
[submodule "giulius-settings-etcd"]
	path = giulius-settings-etcd
	url = https://github.com/timboudreau/giulius-settings-etcd
[submodule "jetcd"]
	path = jetcd
	url = https://github.com/timboudreau/jetcd.git
[submodule "numble"]
	path = numble
	url = https://github.com/timboudreau/numble.git
[submodule "async-promises"]
	path = async-promises
	url = https://github.com/timboudreau/async-promises.git
[submodule "mongo-promises"]
	path = mongo-promises
	url = https://github.com/timboudreau/mongo-promises.git
[submodule "blather"]
	path = blather
	url = https://github.com/timboudreau/blather.git
[submodule "portable-crypto"]
	path = portable-crypto
	url = https://github.com/timboudreau/portable-crypto.git
[submodule "annotation-tools"]
	path = annotation-tools
	url = https://github.com/timboudreau/annotation-tools.git
[submodule "bunyan-java-v2"]
	path = bunyan-java-v2
	url = https://github.com/timboudreau/bunyan-java-v2.git
